/* Styling for main page start */

.category-item {
  flex-basis: calc(25% - 1rem);
  max-width: calc(25% - 1rem);
}

@media (max-width: 768px) {
  .category-item {
    flex-basis: calc(33.333% - 1rem);
    max-width: calc(33.333% - 1rem);
  }
}

@media (max-width: 480px) {
  .category-item {
    flex-basis: calc(50% - 1rem);
    max-width: calc(50% - 1rem);
  }
}

@media (max-width: 320px) {
  .category-item {
    flex-basis: 100%;
    max-width: 100%;
  }
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

/* Styling for main page end */
